In [1]:
import pandas

In [3]:
u202 = pandas.read_csv("u202.csv")
u203 = pandas.read_csv("u203.csv")
u302 = pandas.read_csv("u302.csv")
u202

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st

In [4]:
u202.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cisloStudenta  15 non-null     int64
 1   predmet        15 non-null     object
 2   znamka         13 non-null     float64
 3   den            15 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 608.0+ bytes

In [6]:
u202["znamka"].isna()
# kterým studentům chybí známka v učebně 202
u202[u202["znamka"].isna()]

   cisloStudenta  predmet  znamka den
0              1   Chemie     NaN  pá
9              9  Dějepis     NaN  pá

In [8]:
# kterým studentům nechybí známka ve třídě 202

# pomocí negace (vlnky)
# u202[~u202["znamka"].isna()]

# pomocí metody dropna
u202.dropna(subset=["znamka"])

    cisloStudenta           predmet  znamka den
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st

In [12]:
u202["místnost"] = "u202"
u203["místnost"] = "u203"
u302["místnost"] = "u302"

In [11]:
# Spojení tabulek:

pandas.concat([u202, u203, u302], ignore_index=True)

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st
15              5  Společenské vědy     3.0  po
16             13        Matematika     5.0  po
17              7       Informatika     3.0  po
18             12            Fyzika     3.0  st
19             14            Fyzika     3.0  st
20             15            Chemie     3.0  pá
21             16       Informatika     2.0  út
22              8           Zeměpis     1.0  po
23             17            Fyzika     4.0  po
24             15  Společenské vědy     3.0  pá
25             19       Informatika     NaN  po
26             20            Fyzika     2.0  čt
27              9  Společenské vědy     NaN  pá
28             21          Biologie     4.0  st
29             22           Zeměpis     3.0  út
30             23       Informatika     1.0  po
31             23  Společenské vědy     1.0  po
32              6        Matematika     5.0  čt
33              4       Informatika     1.0  pá
34             16          Biologie     2.0  út
35             20        Matematika     1.0  čt
36             21       Informatika     4.0  st
37             11            Chemie     5.0  st
38             14           Dějepis     3.0  st
39             19  Společenské vědy     NaN  po
40             13            Chemie     4.0  po
41             22       Informatika     3.0  út
42              1           Zeměpis     NaN  pá
43             17        Matematika     3.0  po